.limiter {
	width: 100%;
	margin: 0 auto;
}

.containerRegister {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.wrapRegister {
	width: 70%;
	background: #fff;
	border-radius: 15px;
	padding: 3em;
	box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.center {
	text-align: center;
}

.form {
	margin: 2em 0 3em 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.inputSplitter1,
.inputSplitter2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.inputSplitter1 {
	width: 100%;
	margin-right: 3em;
}

.inputSplitter2 {
	width: 100%;
	margin-left: 3em;
}

.title {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.inputContainer {
	width: 100%;
	position: relative;
	margin-top: 1em;
	display: flex;
	flex-direction: column;
}

.input {
	font-size: 15px;
	color: black;
	line-height: 1.2;
	border: none;
	display: block;
	height: 30px;
	border-bottom: 2px solid #adadad;
}

.input:focus {
	outline: none;
}

.signUp {
	margin-top: 1em;
	text-align: center;
}

.signUpLink {
	margin-left: 0.5em;
}

.signUpLink:hover {
	text-decoration: none;
}

.icon {
	cursor: pointer;
	display: flex;
	align-items: center;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

.helpText {
	font-size: 12px;
	color: black;
	margin-top: 0.5em;
	display: flex;
	align-items: center;
}

.iconHelpText {
	width: 20px;
	height: 20px;
	margin-right: 0.5em;
}
