.pill {
	width: 100%;
	border-radius: 10px;
	min-height: 4em;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	transition: all 0.2s ease-in-out;
	background-color: #424242;
	color: #ababab;
	cursor: pointer;
	font-weight: 200;
}

.content {
	margin: 0.75em;
	word-break: break-word;
	font-size: 14px;
}

.pill:hover {
	background-color: #636363;
}

.done {
	text-decoration: line-through;
}

.done:hover {
	text-decoration: none;
}

.create {
	background-color: #e0e0e0;
	color: black;
	text-transform: none !important;
}

.create:hover {
	background-color: #c2c2c2;
}

.create > .content {
	display: flex;
	align-items: center;
}

.create > .content > span {
	margin-left: 0.5em;
}
