.container {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.sidebarContainer {
	top: 0;
	left: 0;
	bottom: 0;
	height: 100vh;
	z-index: 1000;
	display: flex !important;
	flex-direction: column;
	border: none !important;
	width: 300px !important;
	background-color: #f1f1f1 !important;
	position: fixed !important;
}

.content {
	padding: 15px 15px 15px 0 !important;
	height: 100%;
	width: 100%;
	margin-left: 300px;
}

.sidebarContainer > div {
	padding: 15px !important;
	background-color: #f1f1f1 !important;
}

.sidebar {
	height: 100%;
	background-color: white;
	border-radius: 0.5em;
}

.sidebar > ul {
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.menu {
	display: flex;
	flex-direction: column;
	padding: 1em;
	color: black;
}

.title {
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
	background-color: #f1f1f1;
	padding: 0.5em;
	border-radius: 0.5em;
	margin-bottom: 0.5em;
	color: black;
}

.link,
.logout {
	border-radius: 0.5em;
	display: flex !important;
	justify-content: flex-start !important;
	align-items: center !important;
	height: 100%;
	padding: 0.4em 0;
}

.logout {
	color: #d64343;
}

.link:hover {
	transition: all 0.3s ease-in-out;
	transition-duration: 0.2s;
	color: white;
	background-color: black !important;
}

.logout:hover {
	transition: all 0.3s ease-in-out;
	transition-duration: 0.2s;
	color: white;
	background-color: #d64343 !important;
}

.link > a,
.logout > a {
	padding: 0 !important;
	height: 100% !important;
	width: 100% !important;
}

.link > a:hover,
.logout > a:hover {
	background-color: transparent !important;
}

.line {
	border: 1px solid #f1f1f1;
	margin: 0;
}

.menuContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 0.5em;
}

.editIcon {
	margin-right: 0.5em;
}

.editIcon,
.trashIcon {
	color: white;
}

.editIcon:hover,
.trashIcon:hover {
	transform: scale(1.2);
}

.modal {
	height: -webkit-fill-available;
	padding: 1em;
}

.modalContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.modalContent > span {
	font-size: 20px;
}

.buttonModal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	font-size: 14px;
}

.buttonModal > button {
	width: 45%;
}

.title {
	font-size: 1em;
	font-weight: 200;
	margin: 0 0 0.5em 0;
}

.formGroup {
	display: flex;
	margin-bottom: 2em;
	flex-direction: row;
}

.labelContainer {
	width: 30%;
	display: flex;
}

.label {
	font-size: 1em;
	font-weight: 700;
	text-align: left;
	margin-bottom: 0.25em;
}

.inputContainer {
	width: 100%;
	display: flex;
	position: relative;
	flex-direction: column;
}

.icon > div {
	width: 100% !important;
}

.input {
	width: -webkit-fill-available;
	padding: 0.5em 1em;
	border: 2px solid black;
	border-radius: 10px;
	font-size: 15px;
	font-weight: 300;
}

.input::placeholder {
	color: #a9a9a9;
	margin: 0;
}

.helpIcon {
	margin-right: 0.5em;
}

.icon {
	display: flex;
	align-items: center;
}

.iconSuccess {
	color: green;
	position: absolute;
	right: 1em;
}

.iconError {
	color: red;
	position: absolute;
	right: 1em;
}

.helpText {
	font-size: 12px;
	text-align: left;
	margin-top: 0.1em;
}

.helpTextSuccess {
	color: green;
}

.helpTextError {
	color: red;
}

.modalForm {
	width: 100%;
}
